{% extends 'base.html' %}
{% load static %}
{% block content %}
<div id="content" class="container-lg text-center" style="margin: 0 auto;">
    <img src="{% static 'img/main_image.png' %}" alt="pills" width="800px" height="300px" style="margin: 50px auto;">
<!--    <h1 class="text-center" style="padding-top: 50px;"> PILLosophy</h1>-->
    <h3 class="text-center" style="color: palevioletred; height: 40px; font-weight: bold;">💡 주의 💡</h3>
    <p class="text-center"><strong>식별문자</strong>가 잘 나온 <strong>앞면</strong> 사진으로 첨부해주세요.</p>
    <form class="d-flex justify-content-center" id="uploadForm" action="/upload" method="POST" enctype="multipart/form-data">
        <input type="file" name="imageInput" id="imageInput">
        <input type="submit" value="업로드">
    </form>
</div>
<div id="resultDiv" class="container-lg justify-content-center text-center" style="margin: 50px auto;"></div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
$(document).ready(function() {
    $("#uploadForm").submit(function(event) {
        event.preventDefault();
        var formData = new FormData(this);

        $.ajax({
            type: "POST",
            url: "/upload",
            data: formData,
            processData: false,
            contentType: false,
            success: function(response) {
                // 결과를 처리하는 로직을 여기에 추가
                var prediction = response.prediction;
                var pill_name = response.pill_name;
                var pill_company = response.pill_company;
                var pill_class = response.pill_class;
                var pill_image = response.pill_image;
                var top5_prediction = response.top5_prediction;

                // 예측 결과를 resultDiv에 표시하거나 다른 작업 수행
                 $("#resultDiv").html("<ul style='list-style-type: none;'>" +
                    "<li><strong>분류 결과</strong> " + prediction + "</li>" +
                    "<li><strong>약 이름</strong> " + pill_name + "</li>" +
                    "<li><strong>제조사</strong> " + pill_company + "</li>" +
                    "<li><strong>분류 번호</strong> " + pill_class + "</li>" +
                    "<li><strong>top5 예측 클래스</strong> " + top5_prediction + "</li>" +
                    "<li><img src='" + pill_image + "' alt='약 이미지' width='500px'></li>" +
                    "</ul>");
            },
            error: function(error) {
                console.error(error);
            }
        });
    });
});
</script>
{% endblock %}