{% extends 'base.html' %}
{% load static %}
{% block content %}

<!--
 ajax부분 이미지 경로설정이 너무 야매임 -> 개선요함
 -->

<div id="content" class="container-lg text-center" style="margin: 0 auto;">
    <img src="{% static 'img/main_image.png' %}" alt="pills" width="800px" height="300px" style="margin: 50px auto;">
<!--    <h1 class="text-center" style="padding-top: 50px;"> PILLosophy</h1>-->
    <h3 class="text-center" style="color: palevioletred; height: 40px; font-weight: bold;">💡 주의 💡</h3>
    <p class="text-center"><strong>식별문자</strong>가 잘 나온 <strong>앞면</strong> 사진으로 첨부해주세요.</p>
    <form class="d-flex justify-content-center" id="uploadForm" action="/upload" method="POST" enctype="multipart/form-data">
        <input type="file" name="imageInput" id="imageInput">
        <input type="submit" value="업로드">
    </form>
</div>
<div id="resultDiv" class="container-lg" style="margin: 50px auto;"></div>
<div id="resultImg" class="container-lg d-flex justify-content-evenly" style="display: none; margin-bottom: 100px; width:800px;">
    <img id="input_image" src="" alt="" width="300px" style="">
    <img id="output_image" src="" alt="" width="400px">
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
$(document).ready(function() {
    $("#uploadForm").submit(function (event) {
        event.preventDefault();
        let formData = new FormData(this);
        $.ajax({
            type: "POST",
            url: "/upload",
            data: formData,
            processData: false,
            contentType: false,
            success: function (response) {
                // 결과를 처리하는 로직을 여기에 추가
                let prediction = response.prediction;
                let pill_name = response.pill_name;
                let pill_company = response.pill_company;
                let pill_class = response.pill_class;
                let input_image = response.input_image;
                let output_image = response.output_image;
                let top5_prediction = response.top5_prediction;

                let html_content = `
                    <div id="predict" style="margin: 0 auto; width: 500px;">
                        <ul style='list-style-type: none;'>
                            <li><strong style="color: blueviolet">분류 결과<br/></strong>${prediction}</li>
                            <li><strong style="color: blueviolet">TOP5 예측 클래스<br/></strong>${top5_prediction}</li>
                        </ul>
                    </div>
                    <br />
                    <div id="pill_info" style="border:2px dashed skyblue; padding: 50px; width:500px; margin: 0 auto;">
                        <ul style='list-style-type: none; width: 300px; margin: 0 auto; padding: 0;'>
                            <li><strong>약 이름 </strong>${pill_name}</li>
                            <li><strong>제조사 </strong>${pill_company}</li>
                            <li><strong>분류 번호 </strong>${pill_class}</li>
                        </ul>
                    </div>`;

                // 예측 결과를 resultDiv에 표시하거나 다른 작업 수행
                $("#resultDiv").html(html_content);

                $('#output_image').attr('src', output_image);
                $('#input_image').attr('src', input_image);
                $('#resultImg').show();
            },
            error: function (error) {
                console.error(error);
            }
        });
    });
});
</script>
{% endblock %}